<h1>The Log Of Requests</h1>
<ol>
<% @web_requests.each do |wr| %>
<li>
A Request to <%= wr.reqverb %> <%= wr.requrl %> from <%= wr.reqsrc %> 
</li>
<% end %>
</ol>
<!-- Find me in app/views/request_log/viewlog.html.erb -->
